<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Django Project: Home</title>
</head>
<body>
    <center><h1>New Django Project: Home</h1></center>
    <center><h3>Developed by Siddarth :D</h3></center>
    <br>
    <br>
    <br>
    <br>
    <form action="/memeF">
        <center><button id="bt1n" class="btn">Do Not Click Me!</button></center>
    </form>
</body>
</html>